In [6]:
import pandas as pd
import numpy as np
import re

In [7]:
class Data:
    
    def __init__(self, anno, lenguage = 'Python'):
        self.url_data = f'../csv/developer_survey_{anno}/survey_results_public.csv'
        self.url_schema = f'../csv/developer_survey_{anno}/survey_results_schema.csv'
        self.data_frame = pd.read_csv(self.url_data, index_col = 'Respondent')
        self.data_frame.rename(columns={'ConvertedComp':'SalaryUSD'}, inplace = True)
        self.schema_frame = pd.read_csv(self.url_schema, index_col='Column')
        self.data_frame.rename(columns={'ConvertedComp':'SalaryUSD'}, inplace = True)
        self.mask_language = self.data_frame['LanguageWorkedWith'].str.contains(lenguage, na = False)

In [8]:
class Data_Country(Data):
    def __init__(self, anno, lenguage = 'Python', acumulado = 0.81):
        Data.__init__(self, anno, lenguage = 'Python')
        self.values = pd.DataFrame(self.data_frame.loc[:, 'Country'].value_counts(normalize = True).sort_values(ascending = False))
        self.values['Acumulado'] = self.values['Country'].cumsum()
        self.mask_country_ABC = self.values['Acumulado'] < acumulado
        self.mask_salary = (self.data_frame['SalaryUSD'] < self.data_frame['SalaryUSD'].describe().loc['75%'])
        self.mask_group = (self.mask_language & self.mask_salary)
        
    def group_by_country(self):
        self.country_grp = self.data_frame.loc[self.mask_group].groupby(['Country'])
        
    def group_country_salary(self):
        try:
            self.salary_country = self.country_grp['SalaryUSD'].agg(['mean', 'median', 'min', 'max'])
        except:
            self.group_by_country()
            self.salary_country = self.country_grp['SalaryUSD'].agg(['mean', 'median', 'min', 'max'])

In [9]:
data_2019 = Data_Country(2019)

In [11]:
data_2019.group_country_salary()

In [12]:
data_2019.salary_country

                                              mean   median      min      max
Country
Afghanistan                            3996.000000   3996.0   3996.0   3996.0
Albania                               16381.090909   9936.0   5496.0  34368.0
Algeria                               11668.800000   9654.0   4572.0  30492.0
Angola                                 7764.000000   7764.0   7764.0   7764.0
Argentina                             25011.157480  18288.0   3228.0  96900.0
...                                            ...      ...      ...      ...
Venezuela, Bolivarian Republic of...  10456.363636   8400.0    480.0  60000.0
Viet Nam                              17498.333333  11634.0    936.0  63600.0
Yemen                                  1599.500000   1599.5    799.0   2400.0
Zambia                                17843.666667  12607.0    400.0  40524.0
Zimbabwe                              30400.000000  30000.0  19200.0  42000.0

[140 rows x 4 columns]